{%extends 'all-phoros/base.html'%}

{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
      <div class="col-md-12 Photos">
        
        {% for image in all_images %}

      
        {% endfor %}
      </div>
    </div>
    <script>
      function myFunction() {
    /* Get the text field */
    var copyText = document.getElementById("img-link");
  
    /* Select the text field */
    copyText.select();
  
    /* Copy the text inside the text field */
    document.execCommand("copy");
  
    /* Alert the copied text */
    alert("Copied the text: " + copyText.value);
  }
    </script>
    </div>

{% endblock %}