{% extends 'all-phoros/base.html' %}
{% block content %}
  <div class="container-fluid">
    <div class="row search-page">
      {% if all_images %}
        <h2> Found {{all_images|length}} results of searched {{message}}. </h2>
      {% else %}
        <h2> Found none images for that term {{message}}. </h2>
      {% endif %}
    </div>
    <div class="row">
      {% if all_images %}
        {% for category in all_images %}
        <div class="col-sm-6 col-md-3">
          <p>{{category.image.url}}</p>
          <p>{{category.location}}</p>
        </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}